

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  font-size: 1.6rem;


}
html {
  font-size: 62.5%;
}

button, input, textarea {
  outline: none;
  border: none;
  resize: none;
}

a {
  text-decoration: none;
}

#root {

}