.wrapper {
  width: 100%;
}

.header {
  grid-template-columns: 1fr auto auto auto;
  justify-content: space-between;
  align-items: center;
  display: grid;
  gap: 16px;
}

.logo {
  max-width: 32px;
}

.profile {
  max-width: 32px;
  border-radius: 8px;
  &_name,
  &_icon {
    display: none;
    cursor: pointer;
  }
}

@media (min-width: 30em) {
  .profile {
    &_name,
    &_icon {
      display: unset;
      color: var(--text-color);
    }
  }
}
