.wrapper {
  width: 100%;
}

.header {
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  display: grid;
  position: relative;
  gap: 16px;
}

.logo {
  max-width: 32px;
}

.profile {
  max-width: 32px;
  border-radius: 8px;
  cursor: pointer;
  &_name,
  &_icon {
    display: none;
    cursor: pointer;
  }
}

// .menu {
//   display: grid;
//   grid-auto-flow: column;
//   align-items: center;
//   justify-items: flex-end;
//   justify-content: center;
//   gap: 1.1rem;
// }

@media (min-width: 50em) {
  .header {
    grid-template-columns: 1fr auto auto auto;
  }
  .profile {
    &_name,
    &_icon {
      display: unset;
      color: var(--text-color);
    }
  }
}
